@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

body {
    background-color: #000;
}

.title {
    color: #FFF;
    font-size: 24px;
    text-align: center;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: 900;
}
.tree {
    display: flex;
    justify-content: center;
    align-items: center ;
    color: #fff;
  }
  
  .letter-i {
    width: 80vh;
    height: 80vh;
  }
  
    
  .cls-1 {
    /* $delay: calc(var(--item) * 1s) */
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-dasharray: 1500;
    animation: lines 4s infinite calc(var(--item) * 1s);
  }
  
  .dot {
    stroke-dasharray: 500;
    stroke: var(--color);
  }
  
  .stem {
    stroke: var(--color);
  }
  
  @keyframes lines {
    100% {
      stroke-dashoffset: 3000;
    }
  }
}